#corps_menu {
  display: flex;
  background-color: #e2e2e2;
  margin-top: -40px;
  border-radius: 45px 45px 0px 0px;
  z-index: 2;
  flex-direction: column;
  padding: 2%;
}
#corps_menu > .menu_titre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
  gap: 15px;
}
#corps_menu > .menu_titre > h1 {
  font-family: "Shrikland";
  font-size: 25px;
}
#corps_menu > .menu_titre > .fa-heart {
  color: black;
  
  font-size: 30px;
  transition: all 1.2s;
  display: flex;
  max-height: 25px;
  animation: fillin 1.2s forwards;
  transform-origin: 50% 100%;
}
#corps_menu > .menu_titre > .fa-heart:hover {
  color: #FF79DA;
  font-weight: 600;
  transform: scale(1.2);
  -webkit-background-clip: text;
}
@keyframes fillin {
  from {
    fill: 0%;
  }
  to {
    fill: 100%;
  }
}
#corps_menu > .menu_titre > .fa-heart .fa-heart:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  color: #fff;
  font-weight: 600;
  transform: scale(1.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#corps_menu .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#corps_menu .menu--titre {
  border-bottom: solid 3px #99e2d0;
  display: block;
  position: relative;
  right: -9px;
  width: 15%;
}
#corps_menu .menu--titre > h2 {
  font-family: "roboto-thin";
  font-size: 20px;
}
#corps_menu .btn--comm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#corps_menu .btn--comm > a {
  background-image: linear-gradient(174deg, #ff79da 0%, #9356dc 90%);
  border: 0 solid transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 12px #00000033;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin: 0 auto;
  padding: 1em 1.5em;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}
#corps_menu .btn--comm:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.08) 0px 30px 60px -12px, rgba(0, 0, 0, 0.19) 0px 18px 36px -18px;
}
#corps_menu .container {
  font-size: 10px;
  object-fit: cover;
  
  background-color: white;
  box-shadow: 1px 1px 8px #aaaaaa;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  max-width: 350px;
  max-height: 65px;
  border-radius: 15px;
  overflow: hidden;
}
#corps_menu .big_container1 {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  width: 350px;
}
#corps_menu .big_container2 {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari et Chrome */
  -o-animation: fadein 3s;
  /* Opera */
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  width: 350px;
}
#corps_menu .big_container3 {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  /* Firefox */
  -webkit-animation: fadein 4s;
  /* Safari et Chrome */
  -o-animation: fadein 4s;
  /* Opera */
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  width: 350px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}






/* OKOK*/

.container {
  background: white;
  height: 7rem;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: slideup 1s forwards;
  font-size: 10px;
  object-fit: cover;
  background-color: white;
  box-shadow: 1px 1px 8px #aaaaaa;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  max-width: 350px;
  max-height: 65px;
  border-radius: 15px;
  overflow: hidden;
  
}
.container .btn_cmd {
  padding: 1.5rem;
  max-width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.container .btn_cmd .btn_cmd--txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}
.container .btn_cmd .btn_cmd--txt .menuTitle {
      /* font-size: 1.6rem; */
    /* font-weight: 400; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .btn_cmd .btn_cmd--txt .menuDetails {
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .btn_cmd .menuPrice {
  font-weight: 600;
  display: flex;
  align-items: flex-end;
}
.containerm .checkup {
  background: #99e2d0;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.container .checkup .fa-circle-check {
      /* font-size: 3rem; */
      color: white;
       transform: rotate(360deg); 
      transition: 0.4s ease-in-out;
}
.container:hover .checkup {
  opacity: 100%;
  width: 20%;
  height: 350px;
}
.container:hover .fa-circle-check {
  transform: rotate(0deg);
  animation-delay: 0.5s;
}
.checkup {
  /* width: 100%; */
  display: flex;
  /* transform: scaleX(1); */
  color: white;
  background-color: #99e2d0;
  opacity: 70%;
  width: 0%;
  height: 62px;
  border-radius: 0px 10px 10px 0px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* animation: scale-x 200ms 0ms linear both; */
  /* visibility: visible; */
  object-fit: cover;
  transition:  850ms ;
}
.checkup > .fa-circle-check {
color: white;
}

.container=menuItem
    btn_cmd=menuInfo
    btn_cmd--txt = menuText